<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ganache Transaction Viewer</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

            socket.on('connect', () => {
                console.log('Connected to server');
            });

            socket.on('new_transaction', (data) => {
                const transactionList = document.getElementById("transaction-list");
                const transactionItem = document.createElement("li");
                transactionItem.innerHTML = `TX Hash: ${data.hash}, From: ${data.from}, To: ${data.to}, Value: ${data.value} ETH, Gas: ${data.gas}, Block Number: ${data.blockNumber}`;
                transactionList.prepend(transactionItem);
            });

            socket.on('disconnect', () => {
                console.log('Disconnected from server');
            });
        });
    </script>
</head>
<body>
    <h1>Ganache Transaction Viewer</h1>
    <ul id="transaction-list"></ul>
</body>
</html>
